<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>travelogue</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="stylesheet" href="styles/main.css">-->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="scripts/app.js"></script>
  </head>
  <body ng-app="travelogue" style="padding-top:70px;" >
    <div class="container" ng-controller="mainCtrl">
        
        <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
  <a class="navbar-brand" href="#">Imaginary Friends</a>
  <ul class="nav navbar-nav">
        <li><a href="#"><span class="glyphicon glyphicon glyphicon-user"></span> Characters</a></li>
        <li class="active"><a href="#"><span class="glyphicon glyphicon glyphicon-globe"></span> Travelogue</a></li>
        <li><a href="#"><span class="glyphicon glyphicon glyphicon-calendar"></span> Timelines</a></li>
        </ul>
    </div>

</nav>


        <div class="header clearfix">
           <h1><small><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></small> Travelogue</h1>
           <hr />
        </div>

      <div class="panel panel-default">
          <div class="panel-heading">
        <p><h2>New journey </h2></p>
        <p class="lead">Create a new Journey</p>
           </div>
           <div class="panel-body">
        <form class="form-horizontal">
  <div class="form-group">
    <label for="journey" class="col-sm-2 control-label">Journey Name</label>
    <div class="col-sm-10">
      <input ng-model="journeyname" type="text" class="form-control" id="journeyname" placeholder="On the road with Jack Kerouac">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Connect to Character</label>
    <div class="col-sm-10">
        <select class="form-control">
              <option ng-repeat="character in characters">{{character}}</option>
        </select>
    </div>
  </div>
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" ng-click="createJourney(journeyname,characterid);">Create Journey</button>
      <small>These are not the droids you are looking for? <a href="#">Find character</a> or <a href="#">Create character.</a></small>
    </div>
  </div>
</form>
    <div class="col-sm-10">

    </div>

      </div>
      </div>

     <hr />

     <div class="panel panel-default">
         <div class="panel-heading">
            <p><h2>Journeys</h2></p>
            <p class="lead">All Journeys listed</p>
        </div>
         <div class="panel-body">
           <table class=table>
        <caption>Life Journey -- <a href="#">Harry Potter</a></caption>
        <thead> <tr> <th>Date</th> <th>Location</th> <th>Event</th> <th>Characters</th> <th>Options</th> </tr> </thead>
        <tbody>
        <tr ng-repeat="milestone in milestones">
        <th scope=row>{{milestone.date}}</th> <td>{{milestone.location}}</td> <td>{{milestone.event}}</td> <td>{{milestone.cast}}</td> <td><a href="#">Edit</a> / <a href="#">Delete</a></td> </tr> </tbody> </table>
      <button type="submit" class="btn btn-default" ng-click="addMilestone(milestone);">Add Milestone</button>
     </div>
     </div>

     <hr />

<div class="panel panel-default">
    <div class="panel-heading">
        <p><h2>New Milestone</h2></p>
        <p class="lead">Add a new Milestone</p>
    </div>

           <div class="panel-body">
        <form class="form-horizontal">

  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Date</label>
    <div class="col-sm-10">
      <input ng-model="newdate" type="text" class="form-control" id="newdate" placeholder="31 July 1980">
    </div>
  </div>

  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Location</label>
    <div class="col-sm-10">
      <input ng-model="newlocation" type="text" class="form-control" id="newlocation" placeholder="London, England">
    </div>
  </div>

  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Event</label>
    <div class="col-sm-10">
      <input ng-model="newevent" type="text" class="form-control" id="newevent" placeholder="Renting a Room with a View">
    </div>
  </div>


  <div class="form-group">
    <label for="" class="col-sm-2 control-label">Cast</label>
    <div class="col-sm-10">
      <input ng-model="newcast" type="text" class="form-control" id="newcast" placeholder="John, Paul, George, Ringo">
    </div>
  </div>


    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" ng-click="createMilestone(date,location,event,cast);">Create Milestone</button>
    </div>
  </div>
</form>
      </div>

</div>

      <div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span> -- &copy; Rubynettes 2015</p>
      </div>
    </div>


    <script src="../bower_components/jquery/dist/jquery.js"></script>

  </body>
</html>
