<ol class="breadcrumb">
  <li><a href="#/">Home</a></li>
  <li class="active"><a href="#/">Journeys</a></li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">
        <p><h2>Journeys</h2></p>
    </div>
    <div class="panel-body">
        <table class=table>
        <thead> <tr><th>Journey Name</th> <th>Character</th></tr> </thead>
        <tbody>
        <tr ng-repeat="journey in journeys">
<td><a href="#/list_journeys">{{journey.name}}</a></td> <td><a href="#">{{journey.cast}}</a></td></tr> </tbody> </table>
      <a href="#/new_journey"><button type="submit" class="btn btn-default">Add Journey</button></a>
     </div>
     </div>