<ol class="breadcrumb">
  <li><a href="#/">Home</a></li>
  <li class="active"><a href="#/">Journeys</a></li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">
        <p><h2>Journeys</h2></p>
    </div>
    <div class="panel-body">
        <table class=table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Character(s)</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="journey in journeys">
            <td><a href="#/list_journeys">{{journey.name}}</a></td>
            <td><span ng-repeat="cast in journey.cast"><a href="#/{{cast}}">{{cast}}</a>{{$last ? '' : ($index == cast.length-2) ? ' and ' : ', '}}</span></td>
            <td><a href="#/edit_{{journey._id}}">Edit</a> | <a ng-click="deleteJourney()" ng-href="/delete_{{journey._id}}">Delete</a></td>
        </tr> </tbody> </table>
      <a href="#/new_journey"><button type="submit" class="btn btn-default">Add Journey</button></a>
     </div>
     </div>
     
     