     <div class="panel panel-default" ng-repeat="journey in journeys">
         <div class="panel-heading">
            <p><h2><strong>{{journey.name}}</strong></h2></p>
            <p class="lead">Cast: <strong><a href="#">{{journey.cast}}</a></strong> | {{journey.uuid}}</p>
        </div>
         <div class="panel-body">
           <table class=table>
        <caption>Where <code>character.name</code> meets with his friend to go on a roadtrip around the USA -- <a href="#">Edit</a></caption>
        <thead> <tr> <th>Date</th> <th>Location</th> <th>Event</th> <th>Characters</th> <th>Options</th> </tr> </thead>
        <tbody>
        <tr ng-repeat="milestone in milestones">
        <th scope=row>{{milestone.date}}</th> <td>{{milestone.location}}</td> <td>{{milestone.event}}</td> <td>{{milestone.cast}}</td> <td><a href="#">Edit</a> / <a href="#">Delete</a></td> </tr> </tbody> </table>
      <button type="submit" class="btn btn-default" ng-click="addMilestone(milestone);">Add Milestone</button>
     </div>
     </div>